@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/gilroy-regular.woff2') format('woff2'), url('/assets/fonts/gilroy-regular.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/assets/fonts/gilroy-light.woff2') format('woff2'), url('/assets/fonts/gilroy-light.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/fonts/gilroy-medium.woff2') format('woff2'), url('/assets/fonts/gilroy-medium.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/gilroy-semibold.woff2') format('woff2'), url('/assets/fonts/gilroy-semibold.woff') format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/gilroy-bold.woff2') format('woff2'), url('/assets/fonts/gilroy-bold.woff') format('woff');
}

body {
    font-family: 'Gilroy', 'Arial', serif;
}

.content {
    max-width: 1050px;
    margin: 0 auto;
}

.header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}